head
    include includes/head.pug
body
    include includes/header.pug

    main 
        #foods
            ul
                each item in items
                    li
                        .card
                            img(src=`${item.image}`, alt=`'${item.name}' image`, onclick=`location.href = '/get/${item._id}';`)
                            h3=item.name
                            p=item.discription
                            .tools
                                a(href=`/save/${item._id}`)
                                    i(class="tiny material-icons save") save
                            .user
                                a(href=`/profile/${(item.user ? item.user.id : '0')}`)='by: ' + (item.user ? item.user.username : 'admin') 
        
        script.

            function save(id) {
                console.log(id);/*
                let data = JSON.parse(window.localStorage.getItem('save'));
                data.arr.push(id);
                window.localStorage.setItem('save', JSON.stringify(data));*/
            }


    include includes/footer.pug
