head
    include includes/head.pug
body
    include includes/header.pug

    main 
        #addFood
            form(action=`/rewrite/food/${_id}`, method="post", id="foodForm")
                input(type="text", name="name", placeholder="name", value=`${name}`)
                #info
                    #itemDiv
                        h3 Add an ingridiens
                        #items
                            each item, index in ingridient
                                .ing
                                    input(type="text", name="ingridient", placeholder="ingridiens", value=`${item}`)
                                    if index < ingridient.length-1
                                        input(type="button", value="remove", onclick=`delIng(${index})`)
                                    else
                                        input(type="button", value="add", onclick=`addIng()`)
                    #howTo
                        textarea(name="discription", placeholder="write a discription max 300 carakters", maxlength="300")=discription
                        h3 instruktioner
                        #HTitems
                            each item, index in howto
                                .ht
                                    input(type="text", name="howto", placeholder="how to?", value=`${item}`)
                                    if index < howto.length-1
                                        input(type="button", value="remove", onclick=`delHT(${index})`)
                                    else
                                        input(type="button", value="add", onclick="addHT()")
                input(type="submit", value="update")


    include includes/footer.pug


    script.
        let antalIng = document.getElementById('items').childNodes.length-1;
        let antalHT = document.getElementById('HTitems').childNodes.length-1;

        function addHT() {
            var form = document.getElementById('HTitems');
            var ing = document.getElementsByClassName('ht');
            var newing = document.createElement('div');
            newing.setAttribute('class', 'ht');
            newing.innerHTML = ing[antalHT].innerHTML;
            newing.childNodes[0].setAttribute('value', '');
            ing[antalHT].childNodes[1].setAttribute('onclick', `delHT(${antalHT})`);
            ing[antalHT].childNodes[1].setAttribute('value', `remove`);
            form.appendChild(newing);
            antalHT++;

        }

        function delHT(id) {
            var form = document.getElementById('HTitems');
            form.childNodes[id].remove();
            antalHT--;
            for(let i = 0; i < form.childNodes.length-1; i++) {
                form.childNodes[i].childNodes[1].setAttribute('onclick', `delHT(${i})`);
            }
        }

        function addIng() {
            var form = document.getElementById('items');
            var ing = document.getElementsByClassName('ing');
            var newing = document.createElement('div');
            newing.setAttribute('class', 'ing');
            newing.innerHTML = ing[antalIng].innerHTML;
            newing.childNodes[0].setAttribute('value', '');
            ing[antalIng].childNodes[1].setAttribute('onclick', `delIng(${antalIng})`);
            ing[antalIng].childNodes[1].setAttribute('value', `remove`);
            form.appendChild(newing);
            antalIng++;

        }

        function delIng(id) {
            var form = document.getElementById('items');
            form.childNodes[id].remove();
            antalIng--;
            for(let i = 0; i < form.childNodes.length-1; i++) {
                form.childNodes[i].childNodes[1].setAttribute('onclick', `delIng(${i})`);
            }
        }
